@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&family=Pangolin&family=Raleway&family=Roboto&display=swap');

@media (min-width: 200px) and (max-width: 720px) {
    body {
        position: absolute;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 100%;
        max-width: 100%;
      }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        max-height: 100vh;
        text-align: center;
        background-color: #1db8b8;
        max-width: max-content;
      }

    button {
        margin-bottom: 10%;
    }

    .title{
        font-size: 30px;
    }
    
    #btn__reset {
        font-size: 15px;
        font-family: 'Pangolin', cursive;
        font-weight: 300;
      }

      #rule-container{
        margin:auto 0;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid;
        padding: .2rem 1rem;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    
        text-align: left;
      }
      
    #rules{
        font-size: 20px;
        font-family: 'Pangolin', cursive;
      }
      
    .rule{
        display: list-item;
        font-size: 15px;
        font-family: 'Pangolin', cursive;
    }

    #scoreboard {
        margin-bottom: 25%;
      }
    
    div#banner {
        margin-top: 20px;
    }

    .header{
        color: #3a3f58;
        margin: 0;
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Pangolin', cursive;
      
    }

    #hints {
        padding: 10px;
    }

    #hint {
        font-size: 15px;
        font-weight: bold;
    }
    .space {
        width: 10px;
      }

    #overlay {
        position: fixed;
        font-size: 25px;
        font-weight: 300;
        max-width: 100%;
    }
    #phrase.section {
        max-width: 100%;
        margin: 0 auto;
        margin-right: 5%;
    }

    .letter {
        -webkit-user-select: none;
        font-size: 15px;
        height: 25px;
        width: 25px;
        padding: 10px 1px 0 1px;
        margin-right: 2px;
        color: transparent;
        background: var(--color-neutral-light);
        border-radius: 5px;
        animation: jackInTheBox 0.82s cubic-bezier(.36,.07,.19,.97), both;
    }
    

    .show {
        color: #fff;
        background-color: #8c64f8;
        font-size: 15px;
        height: 25px;
        width: 25px;
        padding: 10px 1px 0 1px;
        margin-right: 2px;
        border-radius: 5px;

      }

    #game-over-message {
        font-size: 30px;
        margin-right: 25%;
        margin-left: 25%;
    }

    #timer {
        display: block;
        margin-left: 50%;
    }
      
    .base-timer {
        position: absolute;
        width: 25px;
        height: 25px;
    }
    
    #phrase li{
     position: relative;
 }
    .base-timer__label {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
      /* keyboard*/

    .keyrow {
        display: flex;
        justify-content: center;  
        height: 25px;
        width: 25px;
    }

    .key {
        font-size: 12px;
        padding: 8px;
        margin: 2px;
        margin-left: auto;
    }
    
    .start-menu {
        margin-bottom: 30%;
        margin-right: 45px;   
        width: fit-content; 
    }

      .section {
        width: 100%;
      
      }
  }