@media screen and (max-width: 300px) {
    body {
        justify-content: space-evenly;
        flex-direction: column;
        display:-webkit-flex;
        height: 50vh;
      }

    .main-container {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        max-height: 100vh;
        text-align: center;
        background-color: #1db8b8;
    }

    .title{
        margin-bottom: 25%;
        margin-right: 35px;
        font-size: 45px;
        position: relative;
    }

    .start {
        background-color: #469191;
      }

    .header {
        text-transform: uppercase;
        margin-top: 100%;
        font-size: 30px;
    }

    h1 {
        font-size: 15px;
    }
    .section {
        width: 100%;
    }
  } 